# Node dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#npm cache directory
.npm/

# OS / Editor files
.DS_Store
Thumbs.db

# Environment variables (si los usás en algún momento)
.env
.env.local
.env.*.local

# Build output (no aplica mucho pero lo dejamos por las dudas)
dist/
build/

# Lite-server cache (por si algún día aparece)
bs-config.json
